
<nav class="menu">
    <div>
        <img src="img/logo2.jpg" alt="Logo" class="logo">
        <h1>APASBAC</h1>
    </div>
    <div class="nav-links">
        <a href="sobre.html">Sobre</a>
        <a href="https://wa.me/5544997063037" target="_blank">
            <img src="img/whatsapp10.png" alt="whatsapp" class="social-icon">
        </a>
        <a href="https://www.instagram.com/apasbac" target="_blank">
            <img src="img/instagram.png" alt="Instagram" class="social-icon">
        </a>
        <a href="logout.php" class="logout-link">Sair</a>
    </div>
</nav>